.App{
  width: 435px;
  text-align: center;
  background-color:white;
  cursor: pointer;
  margin: auto;
}


.tb{
  width: 435px;
  text-align: center;
  background-color: #1990ff;
  margin: auto;
}

.button {
  background-color: #303030;
  color: whitesmoke;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button:hover {
  background-color: whitesmoke;
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
}

table td {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 20px black;
  background-color: white;
  transition: background-color 0.5s;
}


